@font-face {
    font-family: Bringin;
    src: url(../plugins/fonts/9108.otf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../plugins/fonts/2204.ttf);
}

a:hover, ul li a:hover{
    transition-duration: 0.3s;
    text-decoration: none;
}
a:visited, ul li a:visited{
    text-decoration: none;
}
a:active, ul li a:active{
    text-decoration: none;
}
a:link, ul li a:link{
	transition-duration: 0.3s;
    text-decoration: none;
}

ul li a:hover{
    color: black;
}

html{
    overflow-x: hidden;
}

.textH1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'OpenSansBold', sans-serif;
}

header{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 88px;
    position: fixed;
    transition-duration: 0.5s;
    z-index: 100;
}

.animation{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

header:hover{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 88px;
    position: fixed;
    transition-duration: 0.5s;
    margin-top: 0;
}


.logo-box{
    margin-top: 20px;
    font-family: 'Bringin', sans-serif;
    font-size: 29px;
}

.navigation{
    margin-left: -70px;
    margin-top: 34px;
}

.navigation li{
    margin: 0;
    text-transform: uppercase;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 12px;
    padding-left: 30px;
    list-style-type: none;
    display: inline;
}

.navigation li a{
    color:#95a5ad;
    outline: none;
}



.button-head{
    text-transform: uppercase;
    background-color: inherit;
    color: #36aeea;
    font-family: 'OpenSansBold', sans-serif;
    border: solid;
    padding: 17px 60px;
    border-radius: 4px;
    margin-top: 14px;
    width: 250px;
    text-align: center;
}

.line{
    position: absolute;
    margin-top: -20px;
    margin-left: 265px;
    width: 73px;
    height: 5px;
    background-color: #36AEEA;
    transition-duration: 0.3s;
}

.head{
    background: url(../img/backgroundImage.png) no-repeat;
    height: 698px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    transition-duration: 1s;
}

.head2{
    background: url(../img/backgroundImageChouse2.png) no-repeat;
    height: 698px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    transition-duration: 1s;
}

.head3{
    background: url(../img/backgroundImageChouse3.png) no-repeat;
    height: 698px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    transition-duration: 1s;
}


.textHead{
    margin-top: 250px;
    margin-left: 57px;
    width: 480px;
    height: 175px;
}

.textHeadH1{
    letter-spacing: 4px;
    text-transform: uppercase;
    height: 10px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 50px;
    color: white;
    transition-duration: 1s;
}

.textHeadH12{
    color: #848484;
    transition-duration: 1s;
}

.textHead h2{
    font-size: 66px;
    font-family: 'Bringin', sans-serif;
    color: #36aeea;
}

.textHeadP{
    margin-bottom: 40px;
    width: 420px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #d5d9db;
    transition-duration: 1s;
}

.textHeadP1{
    color: #999999;
    transition-duration: 1s;
}

.textHead a{
    font-weight: bold;
    padding: 25px 77px;
    color: white;
    background-color: #36aeea;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.textHead a:hover{
    background-color: #236A8F;
    color: #B0B0B0;
}

.textHead a:active{
    background-color: #1b516d;
    color: #919191;
}

.aboutUs{
    margin: auto;
    background:#f6f4f4 url(../img/Vector.png) no-repeat center;
    background-size: 1154px;
    height: 680px;
}


.imgAbout1{
    margin: -30px 0 0 570px;
    z-index: 2;
    height: 570px;
    width: 800px;
    max-width: 100%;

}

.imgAbout3{
    z-index: 3;
    margin: -270px 0 0 473px;
}

.textAboutUs{
    z-index: 4;
    margin: -390px 0 0 15px;
    width: 350px;
}

.textAboutUs h1{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}

.textAboutUs p{
    line-height: 25px;
    font-size: 14px;
    color: #a8a7a7;
    margin-bottom: 30px;
}

.buttonReadMore{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 4px;
    z-index: 5;
    padding: 15px 26px;
    background-color: #36AEEA;
    color: white;
}

.buttonReadMore:hover{
    margin-left: 15px;
    border-radius: 4px;
    z-index: 5;
    padding: 15px 26px;
    background-color: #236A8F;
    color: #B0B0B0;
}

.journal{
    max-height: 100%;
    height: 1100px;
    background-size: contain;
}

.journalHead{
    width: 280px;
    height: 150px;
    margin: 118px auto 0 auto;
}

.journalPortfolio{
    box-shadow: 0 5px 15px gray;
    height: 760px;
    background: white;
}

.imgJournal{
    object-fit: cover;
    width: 380px;
    height: 380px;
}

.textJournal{
    height: 380px;
    margin: 0 -10px 0 0;

}

.textJournal h2{
    margin: 45px 0 55px 0;
    font-size: 14px;
    font-family: 'OpenSansBold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #16b5ef;
}

.textJournal h1{
    line-height: 24px;
    letter-spacing: 3px;
    margin: 0 auto;
    width: 340px;
    font-size: 16px;
    font-family: 'OpenSansBold', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.textJournal p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 300px;
    text-align: center;
    margin: 30px auto 0 auto;
    color: #a8a7a7;
}

.textJournal p i{
    color: black;
    width: 20px;
    margin: 20px auto 0 auto;
    text-align: center;
}

/* 655 */

.wannaGo{
    height: 655px;
    background: url(../img/backgroundImageChouse3.png) no-repeat;
    background-size: cover;
    background-position-x: center;
}

.askForm{
    margin-top: 196px;
}

.askForm h1{
    font-size: 20px;
    font-family: 'OpenSansBold', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.askForm p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #a8a7a7;
    margin-bottom: 34px;
}

.askForm form{
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 20px;
    height: 66px;
    width: 835px;
    background-color: white;
}

.askForm form .nameAskFormInput::placeholder,
.askForm form .phoneAskFormInput::placeholder{
    font-size: 16px;
    color: #a8a7a7;
}

.opacityFormInput::placeholder{
    opacity: 0;
}



.askForm form input{
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    width: 286px;
}


.askForm form button{
    letter-spacing: 2px;
    margin-top: -100px;
    padding: 19px 57px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #36AEEA;
    border: none;
    border-radius: 5px;
    outline: none;
}

.askForm form button:hover{
    background-color: #236A8F;
    color: #B0B0B0;
    transition-duration: 0.5s;
}

.askForm form button:active{
    background-color: #19445d;
    color: #9c9c9c;
    transition-duration: 0.5s;
}

.askForm form .lineForm{
    border-left: solid 1px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #c4c4c4;
}

.attention{
    margin-top: 10px;
    position: absolute;
}

.attention p span{
    position: relative;
    color: #36AEEA;
    top: 3px;
    left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.work{
    height: 700px;
}

.workHead{
    width: 300px;
    height: 150px;
    margin: 118px auto -65px auto;
}

.spaceImgWork{
    margin-top: 50px;
}

.moveVrLine{
    margin-bottom: -100px;
}

.moveHrLine{
    position: relative;
    margin-left: 130px;
    top: 30px;
}

.textHowWork{
    text-align: center;
}

.textHowWork h4{
    font-family: 'OpenSansBold', sans-serif;
}

.textHowWork p{
    font-family: 'Open Sans', sans-serif;
    color: #a8a7a7;
}

.travelWithUs{
    height: 800px;
    background: white url(../img/travelWithUs/bg.png) no-repeat;
    background-size: cover;
    background-position-x: center;
}

.textTravelWithUsHead{
    width: 330px;
    margin: 120px auto 0 auto;
}

.chooseArea{
    width: 1040px;
    margin: 50px auto 0 auto;
}

.place{
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 380px;
    border-radius: 6px;
}

.place img{
    position: relative;
    z-index: 2;
}

.animationImgPlace{
    margin-top: 76px;
    transition-duration: 0.5s;
}

.animationImgPlaceRemove{
    margin-top: 0;
    transition-duration: 0.5s;
}

.placeText{
    z-index: 1;
    top: 50px;
    position: relative;
    margin-top: -22px;
}

.placeText a{
    border-radius: 6px;
    padding: 25px 53px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'OpenSansBold', sans-serif;
    background-color: #36AEEA;
}

.placeText a:hover{
    color: #d6d6d6;
    background-color: #3491c5;
}

.placeText a:active{
    color: #a1a1a1;
    background-color: #28729a;
}

.placeTextOn {
    z-index: 4;
    position: relative;
    margin-top: -250px;
    margin-left: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.placeTextOn h1{
    font-size: 28px;
    margin-bottom: 15px;
}

.placeTextOn p{
    font-size: 16px;
}

.placeTextPrice{
    margin-top: 100px;
}

.leftTextPrice{
    float: left;
    text-decoration: line-through;
}

.rightTextPrice p{
    float: left;
    margin-left: 50px;
    margin-top: -9px;
    font-size: 26px;
    font-family: 'OpenSansBold', sans-serif;
}

.gallery{
    height: 950px;
}

.textGalleryHead{
    width: 200px;
    margin: 103px auto 0 auto;
}

.galleryPhotos{
    width: 1300px;
    margin: 60px auto 0 auto;
}

.galleryPhotosGroup1 img{
    margin-bottom: 30px;
}

.galleryPhotosGroup2 img{
    margin-left: -150px;
    margin-bottom: 30px;
}

.galleryPhotosGroup3 img{
    margin-bottom: 30px;
    margin-left: -200px;
}

.linksArray{
    height: 180px;
    background-color: #f8f9fa;
}

.linksArray a img{
    margin-top: 70px;
    margin-left: 100px;
    filter: invert(1);
}

.linksArray a img:hover{
    margin-top: 70px;
    margin-left: 100px;
    filter: brightness(10) invert(1);
}

.contact{
    height: 1280px;
    background: url(../img/contact/background.png) no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
}

.textContactHead{
    width: 400px;
    margin: 100px auto 40px auto;
}

.ourClientsSay{
    margin-bottom: 500px;
}

.floatTextInClientsSay{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #bcbcbc;
}

.floatTextInClientsSay h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 92px;
    font-weight: bold;
    margin-bottom: -40px;
    margin-left: -5px;
}

.personSpeak{
    color: #36aeea;
    margin-top: 30px;
}

.personSpeak span{
    margin-left: 20px;
}



.formContact{
    margin: 0 auto;
    background: url(../img/contact/backgroundForm.png);
    background-size: contain;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.inputFormContact{
    outline: none;
    width: 418px;
    padding: 17px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.textFormContact h1{
    width: 220px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 36px;
    color: #36aeea;
}

.textFormContact p{
    width: 330px;
    margin: 10px auto 30px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    opacity: 0.9;
}

.textFormContact .button{
    width: 418px;
    height: 75px;
    margin: 50px auto 0 auto;
    font-family: 'OpenSansBold', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 16px;
    background-color: #36aeea;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
}

.inputFormContact::placeholder{
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.divContact{
    margin-left: -15px;
    margin-top: -25px;
    margin-bottom: -20px;
    width: 450px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1100px){
    .container{
        width: 100%;
    }

    header{
        display: none;
    }
}
